body{
    font-family: sans-serif;
    font-weight: 100;}
header{
    width:100%;}
.logo{
    width: 100px;
    height:100px;
    margin: auto;
    display: block;}
section{
    margin:50px;
    padding: 50px;
    height: 600px;
    color: black;}
footer{
    background-color: #bb4025;
    height:600px;}
.white{
    color: white;}
.title{
    width:100%;
    margin-top: 100px;}
.skills{
    max-width:400px;
    min-width:50px;
    margin: auto;
    display: block}
.list{
    margin: auto;}
.content{
    width:100%;
    margin-top: 50px;
    text-align: center;}
.footer{
    width:100%;
    margin-top: 100px;}
p{
    text-align: center;
    margin: 20px;
    font-size: 20px;}
h1{
    color: black;
    text-transform: uppercase;
    text-align: center;
    font-size: 6vw;
    text-shadow: 20px;}
h2{font-size: 4vw;}
ul{
    list-style-type: none;
    margin: auto;
    display: block;
    width: 350px;}
li{
    float: left;
    padding:10px;
    display: inline}
.arrow{
    width:40px;
    height:40px;
    margin:auto;
    display: block;}

.example{
    width:31%;
    margin-right: 10px;
    margin-left: 10px;
    display: inline;
}
#github{
    height:32px;
    width:32px;
    margin-left: 50%;
    margin-right: 50%;}
a{
    color: black;
    text-decoration: none;}
a:hover{
    color: #bb4025;}
span{color: #bb4025}
